<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ============================= -->
    <!-- INTERNET -->
    <!-- ============================= -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- ============================= -->
    <!-- NETWORK -->
    <!-- ============================= -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- ============================= -->
    <!-- CAMERA -->
    <!-- ============================= -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- ============================= -->
    <!-- LOCATION -->
    <!-- ============================= -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Background Location -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!-- ============================= -->
    <!-- FOREGROUND LOCATION SERVICE -->
    <!-- ============================= -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <!-- ============================= -->
    <!-- NOTIFICATIONS -->
    <!-- ============================= -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- ============================= -->
    <!-- WAKE LOCK -->
    <!-- ============================= -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- FOR DEVICE AUTHENTICATION USING BIOM ETRIC IN ANDROID -->
    
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- ============================= -->
    <!-- DEVICE FEATURES -->
    <!-- ============================= -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>



    <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher"
    android:allowBackup="false"
    android:theme="@style/AppTheme"
    android:supportsRtl="true"
    android:usesCleartextTraffic="${usesCleartextTraffic}">

    <!-- ========================================= -->
    <!-- EMPLOYEE BACKGROUND LOCATION SERVICE -->
    <!-- ========================================= -->
    <service
        android:name=".location.tracking.ForegroundLocationService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="location" />


<!-- GOOGLE MAP API KEY DFFGHG -->
   <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDgR5tt7cWkz-1iPcS7c095tP_Z3OiJxog"/>
        

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode">

        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>

    </activity>

</application>

</manifest>